@font-face {
    font-family: "kindergarten";
    src: url("../src/fonts/kindergarten.woff");
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
li {
    margin-bottom: 10px;
}
h2 {
    font-family: 'kindergarten';
    cursor: default;
    user-select: none;
}
body {
    padding: 0px;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ctr {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #1a1a1a;
    height: 50px;
    min-width: 500px;
}
header > h1 {
    font-family: 'kindergarten';
    color: white;
    cursor: default;
    user-select: none;
}
.btn {
    padding: 8px 10px 8px 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #5588d4;
    cursor: pointer;
    transition: transform .15s;
}
.btn:hover {
    transform: scale(1.2);
}
#app-ctr {
    display: flex;
    flex-grow: 1;
}
.project-title {
    font-size: 2em;
}
#new-project-btn {
    background-color: black;
}
#new-project-btn:hover {
    background-color: rgb(65, 65, 65);
}
#new-project-btn:active {
    background-color: rgb(78, 78, 78);
    border: none;
}

#sidebar {
    padding: 0px 20px 0px 20px;
    min-width: 200px;
    max-width: 33vw;
    background-color: #f6f6f6;
}
#sidebar li {
    padding-left: 20px;
    transition: padding-left 0.15s;
    cursor: pointer;
}
#sidebar li:hover {
    padding-left: 30px;
}

#project-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.content {
    width: calc(100vw - 300px);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content li {
    display: flex;
    padding: 2px;
    border-radius: 5px;
    align-items: center;
    background-color: #f6f6f6;
}
.content li img {
    margin-right: 15px;
}

/* MODAL */

.modal-ctr {
    /* flex */
    display: none;
    justify-content: center;

    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.11);
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    border-radius: 5px;
    background-color: #5588d4;
}
.modal-content * {
    border: none;
    border-radius: 5px;
}
.modal-content h2 {
    font-size: 18px;
    margin: 5px 0px 5px 0px;
}
#add-task-btn {
    background-color: white;
    color: black;
    margin: 5px;
}

/* TASK CARDS */

.tasklist-ctr {
    display: flex;
    flex-direction: column;
}
.card-ctr {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: 600px;
    transition: transform 0.2s;
}
.card-ctr:hover {
    transform: scale(1.02);
}
.card-ctr p {
    margin: 10px 0px 5px 0px;
    user-select: none;
}
.title {
    font-weight: 700;
    transition: all 0.3s;
}
.title:hover {
    margin-left: 10px;
    text-decoration: line-through;
}
.due {
    user-select: none;
}
.notes {
    font-style: italic;
}
.topbar {
    display: flex;
    justify-content: space-between;
}
.priority-high {
    background-color: rgb(255, 192, 192);
}
.priority-medium {
    background-color: rgb(252, 236, 202);
}
.priority-low {
    background-color: rgb(211, 211, 255);
}